/* Write some CSS below */
body {
	padding: 0;
	margin: 0;
}

.banner {
	background-image: url("images copy/background.jpg");
	background-size: 100%;
	display: flex;
	height: 450px;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
	color: #ffffff;
	font-family: "Chivo", sans-serif;
	font-weight: 800;
	font-style: medium;
	font-size: 40px;
}

.banner h2 {
	color: #C0C2C2;
	font-family: Overpass, sans-serif;
	font-weight: 600;
	font-style: regular;
	font-size: 24px;
}

.btn-blue {
	text-decoration: none;
	background-color: #1A48E3;
	display: inline-block;
	color: white;
	padding: 24px 48px;
	border-radius: 5px;
	font-family: Overpass, sans-serif;
	font-weight: 400;
	font-style: regular;
	font-size: 20px;
}
	
.cards {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.card {
	height: 400px;
	width: 300px;
	padding: 20px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.imagecard {
	width: 100%;
	border-radius: 5px;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.bas {
	background-size: 50%;
	display: flex;
	height: 100px;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: 40px;
}