/* Write some CSS below */
ody{
	background-color: #EBF4F6;
	color: #088395;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 3px;
}
h1 {
	color: #09637E;
	font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

h2 {
	color: blue;
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3{
	font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

a{
	text-decoration: none;
	text-align: justify;
}

p{
	text-align: center;
}

div{
	background-color: #BBCB2E;
	width: 600px;
	height: 780px;
	padding: 30px;
	margin: 20px;
	border: 3px solid black;
	border-radius: 30px;
}

card{
	width: 100px;
}